.home-hero {
  background-image: url('C:\Users\hp\Documents\GitHub\krishi\frontend\src\assets\agri1.jpg');
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  color: #fff;
}

.hero-text h1 {
  font-size: 3.8rem;
  line-height: 1.3;
}

.highlight-script {
  font-family: 'Brush Script MT', cursive;
  color: #ffcc6d;
  font-size: 4.2rem;
}

.explore-btn {
  margin-top: 2rem;
  padding: 12px 30px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explore-btn:hover {
  background-color: #388e3c;
}
